<div class="container" ng-controller="createNewGuachincheController" style="margin-top: 25px">
    <div ng-show="!screen" class="card">
        <div class="card-content">
            <h4>Añade un Guachinche</h4>
            <div class="divider"></div>
            <div class="row" style="margin-top: 15px">
                <div class="col s12 m6">
                    <form-add-guachinche></form-add-guachinche>
                </div>
                <div class="col s12 m6">
                    <label>Previsualización</label>
                    <guachinche-detail ng-show="name"></guachinche-detail>
                </div>
            </div>
            <div class="divider"></div>
            <p style="margin-top: 15px" ng-controller="UserProfille">Esta publicación estará enlazada al correo de {{userName}}: {{userMail}}</p>
            <button class="btn orange lighten-1" ng-click="insertGuachinche()" style="margin-top: 10px">Crear Guachinche <i class="material-icons right">send</i></button >
        </div>
    </div>
    <div ng-show="screen" class="card">
        <div class="card-content" style="text-align: center">
            <h5> {{ message }} </h5>
            <a class="btn orange lighten-1" href="/">Aceptar</a>
        </div>
    </div>
</div>