<div class="container" ng-controller="LoginCtrl" style="margin-top: 25px">
    <div class="card">
        <div class="card-content">
            <h4>Acceder</h4>
            <div class="divider"></div>
            <div style="margin-top: 15px">
                <p>Para poder publicar guachinches en la web debe acceder con una cuenta de google.</p>
                <button style="margin-top: 15px" ng-click="authenticate()" class="btn red">Acceder con Google</button>
            </div>
        </div>
    </div>
</div>